{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "single-quote": true
}
